@import url("common.css");

.container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 100px 1fr 1fr 1fr 50px;
}

.container .blog_image{
	position: relative;
	color: blue;
}

.container .blog_image img{
	height: 500px;
	width: 500px;
	border: 5px solid #8080804a;
	border-radius: 5px;
}

.container .blog_image img:hover{
	opacity: 0.2;
}

.blog-type {
  	position: absolute;
  	top: 8px;
  	left: 16px;
}

.continue-blog-reading{
	position: absolute;
	bottom: 18px;
  	left: 16px;
}
